# 2. 듀얼 모멘텀 전략

## 1. 절대 모멘텀 전략

### 데이터

In [3]:
import pandas as pd
import numpy as np
import datetime

import FinanceDataReader as fdr
import pandas_datareader as pdr

df = pdr.get_data_yahoo('SPY')
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-10-04,253.440002,252.559998,252.690002,253.160004,55953600.0,232.314468
2017-10-05,254.679993,253.199997,253.539993,254.660004,63522800.0,233.690948
2017-10-06,254.699997,253.850006,254.149994,254.369995,80646000.0,233.424820
2017-10-09,254.699997,253.649994,254.630005,253.949997,35803100.0,233.039398
2017-10-10,255.050003,253.979996,254.600006,254.619995,43057400.0,233.654251

In [4]:
price_df = df.loc[:, ['Adj Close']].copy()
price_df

             Adj Close
Date
2017-10-04  232.314468
2017-10-05  233.690948
2017-10-06  233.424820
2017-10-09  233.039398
2017-10-10  233.654251
...                ...
2022-09-27  363.380005
2022-09-28  370.529999
2022-09-29  362.790009
2022-09-30  357.179993
2022-10-03  366.609985

[1258 rows x 1 columns]

### 월말 데이터 사용

In [6]:
price_df = price_df.resample(rule='M').last()
price_df['STD_YM'] = price_df.index.map(lambda x : datetime.datetime.strftime(x, '%Y-%m'))
price_df
month_last_df = price_df.copy()

In [ ]:
# Date가 index가 아닌 경우
price_df.set_index(['Date'], inplace = True) # Date를 index로 만들고 하면 쉬움 (교재에는 엄청 어렵게 해놨음)
price_df = price_df.resample(rule='M').last()
price_df['STD_YM'] = price_df.index.map(lambda x : datetime.datetime.strftime(x, '%Y-%m'))
price_df

### 데이터 가공

In [8]:
month_last_df['BF_1M_Adj Close'] = month_last_df.shift(1)['Adj Close']
month_last_df['BF_12M_Adj Close'] = month_last_df.shift(12)['Adj Close']
month_last_df.fillna(0, inplace = True)
month_last_df.head(15)

             Adj Close   STD_YM  BF_1M_Adj Close  BF_12M_Adj Close
Date
2017-10-31  235.975906  2017-10         0.000000          0.000000
2017-11-30  243.188690  2017-11       235.975906          0.000000
2017-12-31  246.138153  2017-12       243.188690          0.000000
2018-01-31  260.010284  2018-01       246.138153          0.000000
2018-02-28  250.556122  2018-02       260.010284          0.000000
2018-03-31  243.688309  2018-03       250.556122          0.000000
2018-04-30  244.947678  2018-04       243.688309          0.000000
2018-05-31  250.902130  2018-05       244.947678          0.000000
2018-06-30  252.345047  2018-06       250.902130          0.000000
2018-07-31  261.693573  2018-07       252.345047          0.000000
2018-08-31  270.046844  2018-08       261.693573          0.000000
2018-09-30  271.652405  2018-09       270.046844          0.000000
2018-10-31  252.880020  2018-10       271.652405        235.975906
2018-11-30  257.570862  2018-11       252.880020        243.188690
2018-12-31  234.892044  2018-12       257.570862        246.138153

### 포지션 기록

In [9]:
book = price_df.copy()
book['trade'] = ''
book.head()

             Adj Close   STD_YM trade
Date
2017-10-31  235.975906  2017-10
2017-11-30  243.188690  2017-11
2017-12-31  246.138153  2017-12
2018-01-31  260.010284  2018-01
2018-02-28  250.556122  2018-02

### 거래 실행

In [10]:
# trading 부분
def trading(month_last_df, ticker):
    for x in month_last_df.index:
        signal = ''
        # 절대 모멘텀 계산
        momentum_index = month_last_df.loc[x,'BF_1M_Adj Close'] / month_last_df.loc[x,'BF_12M_Adj Close'] - 1
        flag = True if ((momentum_index > 0.0) and (momentum_index != np.inf) and (momentum_index != -np.nan)) else False and True
        if flag:
            signal = 'buy ' + ticker
        print(f'날짜 : {x}, 모멘텀 인덱스 : {momentum_index}, flag : {flag}, signal : {signal}')
        book.loc[x:, 'trade'] = signal
    return book

book = trading(month_last_df, 'SPY')

날짜 : 2017-10-31 00:00:00, 모멘텀 인덱스 : nan, flag : False, signal :
날짜 : 2017-11-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2017-12-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-01-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-02-28 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-03-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-04-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-05-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-06-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-07-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-08-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-09-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2018-10-31 00:00:00, 모멘텀 인덱스 : 0.15118703837854408, flag : True, signal : buy SPY
날짜 : 2018-11-30 00:00:00, 모멘텀 인덱스 : 0.03985107181037262, flag : True, signal : buy SPY
날짜 : 2018-12-31 00:00:00, 모멘텀 인덱스 : 0.04644834048420088, flag : True, signal : buy SPY
날짜 : 2019-01-31 00:00:00, 모멘텀 인덱스 : -0.0966047955068634, flag : False, signal :
날짜 : 2019-02-28 00:00:00, 모멘텀 인덱스 : 0.012542899261079654, flag : True, signal : buy SPY
날짜 : 2019-03-31 00:00:00, 모멘텀 인덱스 : 0.074826692978748, flag : True, signal : buy SPY
날짜 : 2019-04-30 00:00:00, 모멘텀 인덱스 : 0.08865537054976569, flag : True, signal : buy SPY
날짜 : 2019-05-31 00:00:00, 모멘텀 인덱스 : 0.10623785434420552, flag : True, signal : buy SPY
날짜 : 2019-06-30 00:00:00, 모멘텀 인덱스 : 0.029769765236186352, flag : True, signal : buy SPY
날짜 : 2019-07-31 00:00:00, 모멘텀 인덱스 : 0.0620814152480853, flag : True, signal : buy SPY
날짜 : 2019-08-31 00:00:00, 모멘텀 인덱스 : 0.044789773186369564, flag : True, signal : buy SPY
날짜 : 2019-09-30 00:00:00, 모멘텀 인덱스 : 0.021224498416335447, flag : True, signal : buy SPY
날짜 : 2019-10-31 00:00:00, 모멘텀 인덱스 : 0.11838069070633739, flag : True, signal : buy SPY
날짜 : 2019-11-30 00:00:00, 모멘텀 인덱스 : 0.12228423847066883, flag : True, signal : buy SPY
날짜 : 2019-12-31 00:00:00, 모멘텀 인덱스 : 0.27518764756265224, flag : True, signal : buy SPY
날짜 : 2020-01-31 00:00:00, 모멘텀 인덱스 : 0.21496215117085438, flag : True, signal : buy SPY
날짜 : 2020-02-29 00:00:00, 모멘텀 인덱스 : 0.1763392636078951, flag : True, signal : buy SPY
날짜 : 2020-03-31 00:00:00, 모멘텀 인덱스 : 0.06395546915421346, flag : True, signal : buy SPY
날짜 : 2020-04-30 00:00:00, 모멘텀 인덱스 : -0.10544648588312566, flag : False, signal :
날짜 : 2020-05-31 00:00:00, 모멘텀 인덱스 : 0.07681664036799041, flag : True, signal : buy SPY
날짜 : 2020-06-30 00:00:00, 모멘텀 인덱스 : 0.05472699854867402, flag : True, signal : buy SPY
날짜 : 2020-07-31 00:00:00, 모멘텀 인덱스 : 0.05744396978551647, flag : True, signal : buy SPY
날짜 : 2020-08-31 00:00:00, 모멘텀 인덱스 : 0.13878674246207767, flag : True, signal : buy SPY
날짜 : 2020-09-30 00:00:00, 모멘텀 인덱스 : 0.1950175665691447, flag : True, signal : buy SPY
날짜 : 2020-10-31 00:00:00, 모멘텀 인덱스 : 0.12539511797242686, flag : True, signal : buy SPY
날짜 : 2020-11-30 00:00:00, 모멘텀 인덱스 : 0.05900114986725491, flag : True, signal : buy SPY
날짜 : 2020-12-31 00:00:00, 모멘텀 인덱스 : 0.14104247359985078, flag : True, signal : buy SPY
날짜 : 2021-01-31 00:00:00, 모멘텀 인덱스 : 0.1837943722491362, flag : True, signal : buy SPY
날짜 : 2021-02-28 00:00:00, 모멘텀 인덱스 : 0.27246673560737267, flag : True, signal : buy SPY
날짜 : 2021-03-31 00:00:00, 모멘텀 인덱스 : 0.49446384117141107, flag : True, signal : buy SPY
날짜 : 2021-04-30 00:00:00, 모멘텀 인덱스 : 0.3862773633786005, flag : True, signal : buy SPY
날짜 : 2021-05-31 00:00:00, 모멘텀 인덱스 : 0.39324432055841996, flag : True, signal : buy SPY
날짜 : 2021-06-30 00:00:00, 모멘텀 인덱스 : 0.3779551769899465, flag : True, signal : buy SPY
날짜 : 2021-07-31 00:00:00, 모멘텀 인덱스 : 0.33050294878279396, flag : True, signal : buy SPY
날짜 : 2021-08-31 00:00:00, 모멘텀 인덱스 : 0.2740585243235223, flag : True, signal : buy SPY
날짜 : 2021-09-30 00:00:00, 모멘텀 인덱스 : 0.36301056244714447, flag : True, signal : buy SPY
날짜 : 2021-10-31 00:00:00, 모멘텀 인덱스 : 0.3327160627449395, flag : True, signal : buy SPY
날짜 : 2021-11-30 00:00:00, 모멘텀 인덱스 : 0.286303921599252, flag : True, signal : buy SPY
날짜 : 2021-12-31 00:00:00, 모멘텀 인덱스 : 0.2303850260739797, flag : True, signal : buy SPY
날짜 : 2022-01-31 00:00:00, 모멘텀 인덱스 : 0.3005407115217895, flag : True, signal : buy SPY
날짜 : 2022-02-28 00:00:00, 모멘텀 인덱스 : 0.19862023782236338, flag : True, signal : buy SPY
날짜 : 2022-03-31 00:00:00, 모멘텀 인덱스 : 0.11272368869175642, flag : True, signal : buy SPY
날짜 : 2022-04-30 00:00:00, 모멘텀 인덱스 : 0.0965334653570693, flag : True, signal : buy SPY
날짜 : 2022-05-31 00:00:00, 모멘텀 인덱스 : -0.006233386938540919, flag : False, signal :
날짜 : 2022-06-30 00:00:00, 모멘텀 인덱스 : -0.025838248160937383, flag : False, signal :
날짜 : 2022-07-31 00:00:00, 모멘텀 인덱스 : -0.12746862087783584, flag : False, signal :
날짜 : 2022-08-31 00:00:00, 모멘텀 인덱스 : -0.07465757497589065, flag : False, signal :
날짜 : 2022-09-30 00:00:00, 모멘텀 인덱스 : -0.06902478725053862, flag : False, signal :
날짜 : 2022-10-31 00:00:00, 모멘텀 인덱스 : -0.21048475551760004, flag : False, signal :

C:\Users\NOHSAN~1\AppData\Local\Temp/ipykernel_25232/2869647551.py:6: RuntimeWarning: invalid value encountered in double_scalars
  momentum_index = month_last_df.loc[x,'BF_1M_Adj Close'] / month_last_df.loc[x,'BF_12M_Adj Close'] - 1
C:\Users\NOHSAN~1\AppData\Local\Temp/ipykernel_25232/2869647551.py:6: RuntimeWarning: divide by zero encountered in double_scalars
  momentum_index = month_last_df.loc[x,'BF_1M_Adj Close'] / month_last_df.loc[x,'BF_12M_Adj Close'] - 1

In [11]:
book.head(15)

             Adj Close   STD_YM    trade
Date
2017-10-31  235.975906  2017-10
2017-11-30  243.188690  2017-11
2017-12-31  246.138153  2017-12
2018-01-31  260.010284  2018-01
2018-02-28  250.556122  2018-02
2018-03-31  243.688309  2018-03
2018-04-30  244.947678  2018-04
2018-05-31  250.902130  2018-05
2018-06-30  252.345047  2018-06
2018-07-31  261.693573  2018-07
2018-08-31  270.046844  2018-08
2018-09-30  271.652405  2018-09
2018-10-31  252.880020  2018-10  buy SPY
2018-11-30  257.570862  2018-11  buy SPY
2018-12-31  234.892044  2018-12  buy SPY

### 전략 수익률

In [12]:
def returns(book, ticker):
    # 손익 계산
    rtn = 1.0
    book['return'] = 1
    buy = 0.0
    sell = 0.0
    for i in book.index:
        # long 진입
        if book.loc[i, 'trade'] == 'buy ' + ticker and book.shift(1).loc[i, 'trade'] == '':
            buy = book.loc[i, 'Adj Close']
            print(f'진입일 : {i}, 진입가격 : {buy}')
        # 보유 중
        elif book.loc[i, 'trade'] == 'buy ' + ticker and book.shift(1).loc[i, 'trade'] == 'buy ' + ticker:
            current = book.loc[i, 'Adj Close']
            rtn = (current - buy) / buy - 1
            book.loc[i, 'return'] = rtn
        # long 청산
        elif book.loc[i, 'trade'] == '' and book.shift(1).loc[i, 'trade'] == 'buy ' + ticker:
            sell = book.loc[i, 'Adj Close']
            rtn = (sell - buy) / buy + 1 # 손익 계산
            book.loc[i, 'return'] = rtn
            print(f'청산일 : {i}, long 진입가격 : {buy}, long 청산가격 : {sell}, return : {round(rtn, 2)}')
        
        if book.loc[i, 'trade'] == '': # 제로 포지션
            buy = 0.0
            sell = 0.0
            current = 0.0
            
    acc_rtn = 1.0
    for i in book.index:
        if book.loc[i, 'trade'] == '' and book.shift(1).loc[i, 'trade'] == 'buy ' + ticker:
            rtn = book.loc[i, 'return']
            acc_rtn = acc_rtn * rtn # 누적수익률 계산
            book.loc[i, 'acc return'] = acc_rtn

    print(f'Accunulated return : {round(acc_rtn, 4)}')
    return (round(acc_rtn, 4))

In [13]:
print(returns(book, 'SPY'))

진입일 : 2018-10-31 00:00:00, 진입가격 : 252.88002014160156
청산일 : 2019-01-31 00:00:00, long 진입가격 : 252.88002014160156, long 청산가격 : 253.69882202148438, return : 1.0
진입일 : 2019-02-28 00:00:00, 진입가격 : 261.9226989746094
청산일 : 2020-04-30 00:00:00, long 진입가격 : 261.9226989746094, long 청산가격 : 279.81866455078125, return : 1.07
진입일 : 2020-05-31 00:00:00, 진입가격 : 293.15069580078125
청산일 : 2022-05-31 00:00:00, long 진입가격 : 293.15069580078125, long 청산가격 : 409.4718933105469, return : 1.4
Accunulated return : 1.4971
1.4971

## 2. 상대 모멘텀 전략

### 1단계 : 데이터 가공

In [15]:
# 원하는 티커 리스트
stocks = ['AAPL', 'AMZN', 'F', 'SPY', 'QQQ']
base_date = '2020-01-01'

In [16]:
def data_preprocessing(ticker, base_date):
    """ 데이터 준비 및 초반 작업 """
    df = pdr.get_data_yahoo(ticker, base_date)
    df['Date'] = df.index
    df['ticker'] = ticker
    df.reset_index(drop=True, inplace=True)
    price_df = df.loc[:, ['Date', 'ticker', 'Adj Close']].copy()

    price_df['STD_YM'] = price_df['Date'].map(lambda x : datetime.datetime.strftime(x, '%Y-%m'))
    price_df['1M_RET'] = 0.0
    ym_keys = list(price_df['STD_YM'].unique())

    return price_df, ym_keys

In [17]:
def calculate_momentum(tickers, base_date):
    """ 모든 종목의 1개월 상대모멘텀을 구하고 데이터를 합침 """
    # 월말 데이터 저장
    month_last_df = pd.DataFrame(columns=['Date', 'ticker', '1M_RET'])
    # 종목별 종가 데이터 프레임 생성
    stock_df = pd.DataFrame(columns=['Date', 'ticker', 'Adj Close'])
    
    # 종목별 데이터 준비 및 가공 (합치기)
    for i, ticker in enumerate(tickers):
        price_df, ym_keys = data_preprocessing(ticker, base_date)
        stock_df = stock_df.append(price_df.loc[:,['Date', 'ticker', 'Adj Close']], sort=False)
        
        # 월별 상대 모멘텀 계산을 위한 1개월간 수익률 계산
        for ym in ym_keys:
            m_ret = price_df.loc[price_df[price_df['STD_YM'] == ym].index[-1], 'Adj Close'] / price_df.loc[price_df[price_df['STD_YM'] == ym].index[0], 'Adj Close']
            price_df.loc[price_df['STD_YM'] == ym, ['1M_RET']] = m_ret
            month_last_df = month_last_df.append(price_df.loc[price_df[price_df['STD_YM'] == ym].index[-1], ['Date', 'ticker', 'Adj Close', '1M_RET']])
    
    return month_last_df, stock_df

In [20]:
month_last_df, stock_df = calculate_momentum(stocks, base_date)

In [21]:
month_last_df.head()

         Date ticker    1M_RET  Adj Close
0  2019-12-31   AAPL  1.000000  72.039871
21 2020-01-31   AAPL  1.030498  75.930740
40 2020-02-28   AAPL  0.887736  67.221375
62 2020-03-31   AAPL  0.851009  62.531914
83 2020-04-30   AAPL  1.219542  72.247734

In [23]:
stock_df.head()

        Date ticker  Adj Close
0 2019-12-31   AAPL  72.039871
1 2020-01-02   AAPL  73.683563
2 2020-01-03   AAPL  72.967224
3 2020-01-06   AAPL  73.548630
4 2020-01-07   AAPL  73.202728

### 2단계 : 상대 모멘텀 수익률로 필터링

#### pivot 함수를 써서 종목별로 월말 수익률을 나타냄

In [30]:
#month_ret_df = month_last_df.pivot(index='Date', columns='ticker', values='1M_RET').copy()
month_ret_df = month_last_df.pivot('Date', 'ticker', '1M_RET').copy()
month_ret_df.head()

ticker          AAPL      AMZN         F       QQQ       SPY
Date
2019-12-31  1.000000  1.000000  1.000000  1.000000  1.000000
2020-01-31  1.030498  1.058330  0.952229  1.013462  0.990335
2020-02-28  0.887736  0.939901  0.775056  0.925443  0.914045
2020-03-31  0.851009  0.997835  0.670833  0.881646  0.838803
2020-04-30  1.219542  1.296850  1.156818  1.200757  1.180093

#### rank 함수를 써서 해당 월에 수익률 상위를 percent로 나타냄

In [31]:
month_ret_df = month_ret_df.rank(axis=1, ascending=False, method="max", pct=True)
month_ret_df.head()

ticker      AAPL  AMZN    F  QQQ  SPY
Date
2019-12-31   1.0   1.0  1.0  1.0  1.0
2020-01-31   0.4   0.2  1.0  0.6  0.8
2020-02-28   0.8   0.2  1.0  0.4  0.6
2020-03-31   0.6   0.2  1.0  0.4  0.8
2020-04-30   0.4   0.2  1.0  0.6  0.8

#### 상위 40% 있는 종목만 선택
- 1.0이면 해당 달에 상위 40%에 들은 종목임

In [32]:
month_ret_df = month_ret_df.where(month_ret_df <= 0.4, np.nan)
month_ret_df.fillna(0, inplace=True)
month_ret_df[month_ret_df != 0] = 1
month_ret_df.head(10)

ticker      AAPL  AMZN    F  QQQ  SPY
Date
2019-12-31   0.0   0.0  0.0  0.0  0.0
2020-01-31   1.0   1.0  0.0  0.0  0.0
2020-02-28   0.0   1.0  0.0  1.0  0.0
2020-03-31   0.0   1.0  0.0  1.0  0.0
2020-04-30   1.0   1.0  0.0  0.0  0.0
2020-05-29   1.0   0.0  1.0  0.0  0.0
2020-06-30   1.0   1.0  0.0  0.0  0.0
2020-07-31   1.0   0.0  1.0  0.0  0.0
2020-08-31   1.0   1.0  0.0  0.0  0.0
2020-09-30   0.0   0.0  1.0  0.0  1.0

### 3단계 : 신호 목록으로 트레이딩 + 포지셔닝

In [38]:
def create_trade_book(sample, sample_codes):
    """ 거래 장부 만드는 함수 """
    book = pd.DataFrame()
    book = sample[sample_codes].copy()
    book['STD_YM'] = book.index.map(lambda x : datetime.datetime.strftime(x, '%Y-%m')) # 월말 날짜 표기
    for c in sample_codes:
        book['p_'+c] = '' # 포지션 확인 칼럼
        book['r_'+c] = '' # 수익률 확인 칼럼
    return book

In [35]:
sig_dict = dict()

# 월별로 돌면서 신호가 포착된 티커만 저장하기 (월말 기준 1달 모멘텀 상승 40%)
for date in month_ret_df.index:
    ticker_list = list(month_ret_df.loc[date, month_ret_df.loc[date,:] >= 1.0].index)
    sig_dict[date] = ticker_list

sig_dict

{Timestamp('2019-12-31 00:00:00'): [],
 Timestamp('2020-01-31 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2020-02-28 00:00:00'): ['AMZN', 'QQQ'],
 Timestamp('2020-03-31 00:00:00'): ['AMZN', 'QQQ'],
 Timestamp('2020-04-30 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2020-05-29 00:00:00'): ['AAPL', 'F'],
 Timestamp('2020-06-30 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2020-07-31 00:00:00'): ['AAPL', 'F'],
 Timestamp('2020-08-31 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2020-09-30 00:00:00'): ['F', 'SPY'],
 Timestamp('2020-10-30 00:00:00'): ['F', 'SPY'],
 Timestamp('2020-11-30 00:00:00'): ['F', 'QQQ'],
 Timestamp('2020-12-31 00:00:00'): ['AAPL', 'QQQ'],
 Timestamp('2021-01-29 00:00:00'): ['AAPL', 'F'],
 Timestamp('2021-02-26 00:00:00'): ['F', 'SPY'],
 Timestamp('2021-03-31 00:00:00'): ['F', 'SPY'],
 Timestamp('2021-04-30 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2021-05-28 00:00:00'): ['F', 'SPY'],
 Timestamp('2021-06-30 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2021-07-30 00:00:00'): ['AAPL', 'QQQ'],
 Timestamp('2021-08-31 00:00:00'): ['AAPL', 'QQQ'],
 Timestamp('2021-09-30 00:00:00'): ['F', 'SPY'],
 Timestamp('2021-10-29 00:00:00'): ['F', 'QQQ'],
 Timestamp('2021-11-30 00:00:00'): ['AAPL', 'F'],
 Timestamp('2021-12-31 00:00:00'): ['AAPL', 'F'],
 Timestamp('2022-01-31 00:00:00'): ['AAPL', 'SPY'],
 Timestamp('2022-02-28 00:00:00'): ['AMZN', 'SPY'],
 Timestamp('2022-03-31 00:00:00'): ['AAPL', 'AMZN'],
 Timestamp('2022-04-29 00:00:00'): ['AAPL', 'SPY'],
 Timestamp('2022-05-31 00:00:00'): ['QQQ', 'SPY'],
 Timestamp('2022-06-30 00:00:00'): ['AAPL', 'SPY'],
 Timestamp('2022-07-29 00:00:00'): ['AMZN', 'F'],
 Timestamp('2022-08-31 00:00:00'): ['AAPL', 'F'],
 Timestamp('2022-09-30 00:00:00'): ['QQQ', 'SPY'],
 Timestamp('2022-10-03 00:00:00'): []}

In [36]:
# 거래장부 변수
stock_c_matrix = stock_df.pivot('Date', 'ticker', 'Adj Close').copy()
stock_c_matrix.head()

ticker            AAPL        AMZN          F         QQQ         SPY
Date
2019-12-31   72.039871   92.391998   8.903502  209.353638  308.234436
2020-01-02   73.683563   94.900497   9.018384  212.849243  311.117004
2020-01-03   72.967224   93.748497   8.817337  210.899567  308.761169
2020-01-06   73.548630   95.143997   8.769468  212.258453  309.939117
2020-01-07   73.202728   95.343002   8.855631  212.228928  309.067657
...                ...         ...        ...         ...         ...
2022-09-27  151.759995  114.410004  11.910000  274.480011  363.380005
2022-09-28  149.839996  118.010002  12.180000  279.940002  370.529999
2022-09-29  142.479996  114.800003  11.470000  271.869995  362.790009
2022-09-30  138.199997  113.000000  11.200000  267.260010  357.179993
2022-10-03  142.449997  115.879997  11.470000  273.529999  366.609985

[695 rows x 5 columns]

In [39]:
# 거래 장부 변수를 기준으로 포지션과 수익률을 기록할 수 있는 거래 장부 만들기
book = create_trade_book(stock_c_matrix, list(stock_df['ticker'].unique()))
book.head()

ticker,AAPL,AMZN,F,SPY,QQQ,STD_YM,p_AAPL,r_AAPL,p_AMZN,r_AMZN,p_F,r_F,p_SPY,r_SPY,p_QQQ,r_QQQ
Date,,,,,,,,,,,,,,,,
2019-12-31,72.039871,92.391998,8.903502,308.234436,209.353638,2019-12,,,,,,,,,,
2020-01-02,73.683563,94.900497,9.018384,311.117004,212.849243,2020-01,,,,,,,,,,
2020-01-03,72.967224,93.748497,8.817337,308.761169,210.899567,2020-01,,,,,,,,,,
2020-01-06,73.548630,95.143997,8.769468,309.939117,212.258453,2020-01,,,,,,,,,,
2020-01-07,73.202728,95.343002,8.855631,309.067657,212.228928,2020-01,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-27,151.759995,114.410004,11.910000,363.380005,274.480011,2022-09,,,,,,,,,,
2022-09-28,149.839996,118.010002,12.180000,370.529999,279.940002,2022-09,,,,,,,,,,
2022-09-29,142.479996,114.800003,11.470000,362.790009,271.869995,2022-09,,,,,,,,,,
2022-09-30,138.199997,113.000000,11.200000,357.179993,267.260010,2022-09,,,,,,,,,,
2022-10-03,142.449997,115.879997,11.470000,366.609985,273.529999,2022-10,,,,,,,,,,

#### 포지셔닝 기록 
월말 기준으로 다음 달에 들어갈 종목에 표시 해 놓기(ready)

In [40]:
for date, values in sig_dict.items():
    for stock in values:
        book.loc[date, 'p_'+ stock] = 'ready_' + stock

In [41]:
book

ticker,AAPL,AMZN,F,SPY,QQQ,STD_YM,p_AAPL,r_AAPL,p_AMZN,r_AMZN,p_F,r_F,p_SPY,r_SPY,p_QQQ,r_QQQ
Date,,,,,,,,,,,,,,,,
2019-12-31,72.039871,92.391998,8.903502,308.234436,209.353638,2019-12,,,,,,,,,,
2020-01-02,73.683563,94.900497,9.018384,311.117004,212.849243,2020-01,,,,,,,,,,
2020-01-03,72.967224,93.748497,8.817337,308.761169,210.899567,2020-01,,,,,,,,,,
2020-01-06,73.548630,95.143997,8.769468,309.939117,212.258453,2020-01,,,,,,,,,,
2020-01-07,73.202728,95.343002,8.855631,309.067657,212.228928,2020-01,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-27,151.759995,114.410004,11.910000,363.380005,274.480011,2022-09,,,,,,,,,,
2022-09-28,149.839996,118.010002,12.180000,370.529999,279.940002,2022-09,,,,,,,,,,
2022-09-29,142.479996,114.800003,11.470000,362.790009,271.869995,2022-09,,,,,,,,,,
2022-09-30,138.199997,113.000000,11.200000,357.179993,267.260010,2022-09,,,,,,,ready_SPY,,ready_QQQ,
2022-10-03,142.449997,115.879997,11.470000,366.609985,273.529999,2022-10,,,,,,,,,,

### 4. 트레이딩

In [43]:
def tradings(book, s_codes):
    """ 거래 장부에 buy 기록 """
    std_ym = ''
    buy_phase = False
    for s in s_codes:
        print(s)
        for i in book.index:
            if book.loc[i, 'p_'+s] == '' and book.shift(1).loc[i, 'p_'+s] == 'ready_' + s:
                std_ym = book.loc[i, 'STD_YM']
                buy_phase = True
            if book.loc[i, 'p_'+s] == '' and book.loc[i, 'STD_YM'] == std_ym and buy_phase == True:
                book.loc[i, 'p_'+ s] = 'buy_' + s
            if book.loc[i, 'p_'+ s] == '':
                std_ym = None
                buy_phase = False
    return book

In [59]:
book = tradings(book, stocks)

AAPL
AMZN
F
SPY
QQQ

In [60]:
book[book.loc[:, 'p_SPY'] == 'ready_SPY']

ticker,AAPL,AMZN,F,SPY,QQQ,STD_YM,p_AAPL,r_AAPL,p_AMZN,r_AMZN,p_F,r_F,p_SPY,r_SPY,p_QQQ,r_QQQ
Date,,,,,,,,,,,,,,,,
2020-09-30,114.428680,157.436493,6.484491,325.315399,274.644409,2020-09,buy_AAPL,,buy_AMZN,,ready_F,,ready_SPY,,,
2020-10-30,107.561592,151.807495,7.526294,317.204163,266.281647,2020-10,,,,,ready_F,,ready_SPY,,,
2021-02-26,120.199738,154.646500,11.391673,371.060364,311.089722,2021-02,buy_AAPL,,,,ready_F,,ready_SPY,,,
2021-03-31,121.081963,154.703995,11.927179,387.906219,316.430420,2021-03,,,,,ready_F,,ready_SPY,,,
2021-05-28,123.730247,161.153503,14.147095,411.112305,331.105164,2021-05,buy_AAPL,,buy_AMZN,,ready_F,,ready_SPY,,,
2021-09-30,140.711517,164.251999,13.786846,422.743073,355.737610,2021-09,buy_AAPL,,,,ready_F,,ready_SPY,,buy_QQQ,
2022-01-31,174.059723,149.573502,19.966692,444.760468,361.256836,2022-01,ready_AAPL,,,,buy_F,,ready_SPY,,,
2022-02-28,164.649048,153.563004,17.271681,431.632507,345.087097,2022-02,buy_AAPL,,ready_AMZN,,,,ready_SPY,,,
2022-04-29,157.200348,124.281502,14.020171,408.549683,312.088165,2022-04,ready_AAPL,,buy_AMZN,,,,ready_SPY,,,
2022-05-31,148.633545,120.209503,13.544911,409.471893,307.136597,2022-05,buy_AAPL,,,,,,ready_SPY,,ready_QQQ,
2022-06-30,136.530350,106.209999,11.020092,375.706665,279.777222,2022-06,ready_AAPL,,,,,,ready_SPY,,buy_QQQ,
2022-09-30,138.199997,113.000000,11.200000,357.179993,267.260010,2022-09,buy_AAPL,,,,buy_F,,ready_SPY,,ready_QQQ,